<% provide :title, t(".gioi_thieu") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <div class="row pt-4 pb-5">
        <h3 class="m-auto"><%= t ".gioi_thieu" %></h3>
      </div>
      <div class="row">
        <ul class= "cus-ticket-price">
          <li>Địa chỉ: 434 Trần Khát Chân, Hà Nội</li>
          <li>Hotline: +84 (28)7300 8881</li>
          <li><%= link_to "Facebook", "https://www.facebook.com/vietcrit/" %></li>
        </ul>
        <%= image_tag "mat-tien.jpg", class: "img_ticket_price_2d" %>
      </div>
      
      <div class="row">
        <%= image_tag "theater-mid-2.jpg", class: "theater"%>
      </div>
      <div class="row">
        <%= image_tag "back-theater.jpg", class: "theater"%>
      </div>
      <div class="row">
        <%= image_tag "back-theater-2.jpg", class: "theater"%>
      </div>
      <div class="row">
        <%= image_tag "theater-mid.jpg", class: "theater"%>
      </div>
    </div>
  </div>
</div>
