<% provide :title, t(".gia_ve") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <div class="row pt-4 pb-5">
        <h3 class="m-auto"><%= t ".gia_ve" %></h3>
      </div>
      <div class="row">
        <ul class= "cus-ticket-price">
          <li><%= t ".ticket_des_1"%></li>
          <li><%= t ".ticket_des_2"%></li>
          <li><%= t ".ticket_des_3"%></li>
          <li><%= t ".ticket_des_4"%></li>
        </ul>
      </div>
      <div class="row">
        <%= image_tag "giave-2d.jpg", class: "img_ticket_price_2d" %>
      </div>
      <div class="row">
        <%= image_tag "giave-3d.jpg", class: "img_ticket_price_3d" %>
      </div>
      <div class="row">
        <%= image_tag "giave-4D.jpg", class: "img_ticket_price_4d" %>
      </div>
    </div>
  </div>
</div>
