<% provide :title, t(".film") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="content">
        <div class="content">
          <ul class="movies">
            <% @film.each do |film| %>
              <li>
                <%= image_tag(film.image.url, alt: "") %>
                <h4><%= link_to film.name, film_path(film) %></h4>
                <p><%= truncate(film.description, length: 180, escape: false) %></p>
                <div class="wrapper">
                  <%= link_to film_path(film), class: "link2" do %>
                    <span><span><%= t ".read_more" %></span></span>
                  <% end %>
                </div>
              </li>
            <% end %>
            <li class="clear">&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
