<% provide :title, t(".film") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="content">
        <div class="content">
          <ul class="movies">
            <% (1..12).each do |n| %>
              <li>
                <%= image_tag(Film.last(n).first.image.url, alt: "") %>
                <h4><%= link_to Film.last(n).first.name, film_path(Film.last(n).first) %></h4>
                <p><%= truncate(Film.last(n).first.description, length: 180) %></p>
                <div class="wrapper">
                  <%= link_to film_path(Film.last(n).first), class: "link2" do %>
                    <span><span><%= t ".read_more" %></span></span>
                  <% end %>
                </div>
              </li>
            <% end %>
            <li class="clear">&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
