<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <div class="row mt-5">
          <div class="col-md-4 p-3">
            <%= image_tag @film.image.url if @film.image? %>
          </div>
          <h3><%= t ".film_information" %></h3>
          <p> <%= t ".name_film" %>: <%= @film.name %></p>
          <p><%= t ".description" %></p>
          <p><%= @film.description %></p>
          <h3><%= t ".list_schedule" %></h3>
          <ul id="schedules_item">
            <% @schedules.each do |schedule| %>
              <li>
                <button type="button" class="btn btn-warning mb-1">
                  P<%= schedule.room_id %>
                  <%= schedule.showtime.to_s(:time) %>
                </button>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
