<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <div class="row mt-5">
        <div class="col-md-4 bg-primary p-3">
          <h3><%= t ".film_information" %></h3>
          <%= link_to t(".edit_film"), edit_film_path(@film), class: "btn btn-warning", role: "button" %>
          <%= link_to t(".delete_film"), @film, method: :delete,
                                        data: {confirm: t(".are_you_sure")},
                                        class: "btn btn-danger", role: "button" %>
          <p> <%= t ".name_film" %>: <%= @film.name %></p>
          <p><%= t ".description" %></p>
          <p><%= @film.description %></p>
          <h3><%= t ".schedules" %></h3>
          <button type="button" class="btn btn-primary d-inline"><%= t ".add_schedule" %></button>

        </div>
      </div>
    </div>
  </div>
</div>
