<% provide :title, t(".film_information") %>
<div class="tail-top">
  <div class="tail-bottom">
    <div id= "main">
      <h3><span><%= t ".film_information" %></span></h3>
      <div class="row mt-5">
        <div class="col-md-4 p-3" >
          <%= image_tag @film.image.url, class: "img-border-radius" %>
          <%= link_to t(".edit_film"), edit_admin_film_path(@film), class: "btn btn-warning", role: "button" %>
          <%= link_to t(".delete_film"), [:admin, @film], method: :delete,
            data: {confirm: t(".are_you_sure")}, class: "btn btn-danger", role: "button" %>
        </div>
        <div class="col-md-8 p-3">
          <p><h1><%= @film.name %></h1></p>
          <p><%= sanitize @film.description %></p>
        </div>
        <h3 class="ml-4"><%= t ".list_schedule" %></h3>
      </div>
      <div class="row">
      <ul id="schedules_item">
        <% @schedules.each do |schedule| %>
          <li>
            <%= link_to schedule_path(schedule), class: "btn btn-warning mb-2" do %>
              <%= schedule.showtime.strftime("%d-%m-%Y") %></br>
              P<%= schedule.room_id %> |
              <%= schedule.showtime.to_s(:time) %>
            <% end %>
            | <%= link_to t(".edit_schedule"), edit_admin_schedule_path(schedule) %>
            | <%= link_to t("delete"),admin_schedule_path(schedule), method: :delete,
          data: { confirm: t(".are_you_sure") } %>
          </li>
        <% end %>
      </ul>
      </div>
      <%= link_to t(".add_schedule"), new_admin_schedule_path(film_id: @film.id),
            class: "btn btn-primary d-inline", role: "button" %>
      <h3><span>Trailer</span></h3>
      <div class="row mb-5" id="trailer">
        <%= embed(@film.trailer)%>
      </div>
    </div>
  </div>
</div>
